* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 40px 250px 1fr 165px 75px 165px 1fr 250px 20px;
  grid-template-rows: 50px 50px 1fr 250px 1fr 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(248, 243, 243);
  color: black;
}

.p1-camp {
  grid-area: 3 / 2 / 6 / 3;
  display: grid;
  grid-template-columns: 2fr 125px;
  grid-template-rows: 1fr 85px 40px 20px;
  background-color: rgba(0, 0, 0, 0.383);
  color: white;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 80%), 0 6px 20px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
}
.p1-score {
  grid-area: 2 / 2 / 4 / 3;
  color: rgb(239, 238, 238);
  background-color: rgba(153 24 35);
  /* background-color: rgb(79 11 17 / 70%); */
  border-radius: 8px 8px 8px 8px;
  /* box-shadow: 0 0px 20px 0 rgb(0 0 0 / 80%), 0 20px 40px 0 rgb(0 0 0 / 20%); */
}
#send-warrior {
  grid-area: 3/ 2 / 3 / 3;
  /* background-color: rgb(153 24 35); */
  background-color: rgba(79, 11, 17, 0);
  color: white;
  border-radius: 8px 8px 8px 8px;
  border: black;
  box-shadow: 0 0px 20px 0 rgb(0 0 0 / 80%), 0 20px 40px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
}
#send-warrior:hover {
  background-color: rgba(79, 11, 17, 0);
  /* background-color: rgb(153 24 35); */
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 80%), 0 0px 0px 0 rgb(0 0 0 / 20%);
}
.p1-card {
  grid-area: 4 / 4 / 5 / 5;
  box-sizing: border-box;
  /* switch this to display: grid (to change the position of the card title) */
  display: inline-block; 
  margin: 5px 5px 5px 5px;
  /* Set the card's dimensions, and size it relative to
     it's font size. */
  font-size: inherit;
  /* Add a default background color and border. */
  background-color: rgb(0, 0, 0);
  border-radius: 0.8em;
  border: 1px solid #c3c3c3;
  /* Scale and set the background settings. */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.p2-camp {
  grid-area: 3 / 8 / 6 / 9;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px 40px;
  background-color: rgba(0, 0, 0, 0.383);
  color: white;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 80%), 0 6px 20px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
}
.p2-card {
  grid-area: 4 / 6 / 5 / 7;
  margin: 5px 5px 5px 5px;
  /* Set the card's dimensions, and size it relative to
     it's font size. */
  font-size: inherit;
  width: 10em;
  height: 15em;
  /* Add a default background color and border. */
  background-color: rgb(0, 0, 0);
  border-radius: 0.8em;
  border: 1px solid #c3c3c3;
  /* Scale and set the background settings. */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.p2-score {
  grid-area: 2 / 1 / 2 / 2;
  color: rgb(239, 238, 238);
  background-color: rgb(133, 2, 13);
  border-radius: 8px 0px 0px 8px;
  box-shadow: 0 0px 20px 0 rgb(0 0 0 / 80%), 0 20px 40px 0 rgb(0 0 0 / 20%);
}
.banner {
  grid-area: 2/ 4 / 3 / 7;
  color: white;
  background-color: rgba(115, 115, 115, 0.706);
  cursor: pointer;
}


